@import '../../css/variables.scss';
.topbar_section{
    border: 1px solid $theme_color;
}
.top_Links{

    ul{
        list-style: none;
        li{
            display: inline;
            font-size: 14px;
            a{
                color:$theme_color;
            }
            svg{
                font-size:20px;
            }
        }
    }
}