@import "../../css/variables.scss";
.userCard_service {
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  &:hover {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .Card_img {
    width: 210px;
    height: 210px;
    img {
      width: 210px;
      height: 210px;
      object-fit: cover;
      border-radius: 3px 0px 0px 3px;
    }
  }
  .Card_btns {
    .edit_btn {
      min-width: 270px;
    }
    button {
      height: 32px;
      font-size: 18px;
      border-radius: 4px;
    }
    svg {
      font-size: 22px;
    }
    .edit_btn {
      border: none;
      background-color: $theme_color;
      color: #fff;
    }
    .del_btn {
      border: 1px solid red;
      background-color: #fff;
      color: red;
    }
  }
  .card_details {
    position: relative;
    span {
      font-size: 12px;
      color: $light_text;
    }
    a {
      font-size: 20px;
    }
    p {
      color: $light_text;
    }
    &::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 5px;
      height: 100%;
      content: "";
      background-color: $theme_color;
      z-index: 10;
      border-radius: 3px;
    }
    .card_details_data {
      flex: 1;
      h6 {
        font-size: 16px;
        a {
          font-size: 16px;
          color: $dark_text;
        }
        span {
          font-size: 20px;
          color: $dark_text;
          font-weight: 400;
        }
      }
    }
  }
}
.card_likes_details {
  svg {
    font-size: 20px;
    color: $theme_color;
  }
}
.del_ad_modal {
  .del-ad_icon {
    svg {
      font-size: 65px;
      color: rgb(228, 10, 10);
    }
  }
  .del_modal_btns {
    button {
      width: 120px;
      height: 35px;
      border: none;
      border-radius: 3px;
    }
    .del_sure_btn {
      background-color: rgb(228, 10, 10);
      color: $white;
    }
  }
}
@media (max-width: 1024px) {
  .userCard_service .card_details a {
    font-size: 20px;
  }

  .userCard_service .Card_img img {
    width: 120px;
  }
}
@media (max-width: 576px) {
  .userCard_service .Card_img img {
    width: 100%;
    height: 135px;
    border-radius: 3px 3px 0px 0px;
  }
  .userCard_service .card_details a {
    font-size: 18px;
  }
  .userCard_service .Card_btns .edit_btn {
    width: 100%;
    min-width: 185px;
  }
  .userCard_service .Card_btns .del_btn {
    margin-top: 4px;
    width: 100%;
  }
}
